--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.1
torchvision==0.16.0+cpu
opencv-python-headless==4.9.0.80
numpy==1.26.4
pillow>=9.0.0,<10.0.0
scikit-learn==1.0.2
flask==3.0.2
werkzeug==2.0.1
gunicorn==20.1.0
python-dotenv==1.0.0
ultralytics>=8.0.0
requests==2.31.0
tqdm==4.66.2 